@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

table {
  width: 100%;
  font-size: 14px;
  color: black;
}

thead {
  background-color: gray;
  color: white;
}

th,
td {
  border-style: solid;
  border-color: gray;
  border-width: 0 1px 1px 0;
  height: 50px;
  text-align: center;
}

a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 15px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: black;
  color: white;
}

select {
  width: 38%;
  height: 100%;
}

textarea {
  display: block;
  margin: 0 auto;
  width: 99%;
  height: 100%;
}

#notification-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  z-index: 1000;
  pointer-events: none;
}

.toast {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
}

.toast.show {
  opacity: 1;
}
